{
    "DestinationName": "../serviceonline/",
    "OfflineEnabled": false,
    "LanguageURLParam": "sap-language",
    "OnlineOptions": {},
    "PathSuffix": "",
    "SourceType": "Cloud",
    "ServiceUrl":""
}